body{
    text-align: center;
    background-color: black;
}

h1{
    color: white;
}

.ball{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: greenyellow;
    margin-inline-start: auto;
    margin-inline-end: auto;
    justify-content: center;
    align-items: center;  
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.ball2{
    display: flex;
    margin-block-start: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    margin-inline-start: auto;
    margin-inline-end: auto;
    justify-content: center;
    align-items: center;  
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}